@charset "utf-8";

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  /* -webkit-animation: 1.1s ease-in 1 both blur;
  -moz-animation: 1.1s ease-in 1 both blur;
  -o-animation: 1.1s ease-in 1 both blur;
  animation: 1.1s ease-in 1 both blur; */
}
/* @-webkit-keyframes blur {
  from {background-image: url(../images/bg.png);}
  to {background-image: url(../images/bg2.png)}
}
@-moz-keyframes blur {
  from {background-image: url(../images/bg.png);}
  to {background-image: url(../images/bg2.png)}
}
@-o-keyframes blur {
  from {background-image: url(../images/bg.png);}
  to {background-image: url(../images/bg2.png)}
}
@keyframes blur {
  from {background-image: url(../images/bg.png);}
  to {background-image: url(../images/bg2.png)}
} */
.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/bg.png);
  margin: -15px;
  animation: 1.1s ease-out 1 both blur;
}
@-webkit-keyframes blur {
  from {filter: blur(0)}
  to {filter: blur(9.5px)}
}
@-moz-keyframes blur {
  from {filter: blur(0)}
  to {filter: blur(9.5px)}
}
@-o-keyframes blur {
  from {filter: blur(0)}
  to {filter: blur(9.5px)}
}
@keyframes blur {
  from {filter: blur(0)}
  to {filter: blur(9.5px)}
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.main {
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -612.5px;
  margin-top: -291px;
}

.head {
  width: 1225px;
  height: 68px;
  margin-bottom: 15px;
  background: url(../images/title.png) no-repeat left center;
  text-align: right;
  opacity: 0;
  -webkit-animation: 1.2s ease .5s 1 forwards fadein;
  -moz-animation: 1.2s ease .5s 1 forwards fadein;
  -o-animation: 1.2s ease .5s 1 forwards fadein;
  animation: 1.2s ease .5s 1 forwards fadein;
}
@-webkit-keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}
@-moz-keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}
@-o-keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}
.control {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.control > li {
  height: 32px;
  width: 32px;
  padding: 18px 13px;
  float: right
}
.control > li a {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.control-1 {
  background: url(../images/logout.png)
}
.control-2 {
  background: url(../images/notification.png)
}
.control-3 {
  background: url(../images/changepass.png)
}
.infomation {
  width: 1225px;
  height: 84px;
  margin-bottom: 15px;
  padding: 13px 10px;
  box-sizing: border-box;  
  opacity: 0;
  animation: 1.2s ease .5s 1 forwards fadein
}
.infomation p {
  margin: 0;
  text-align: right
}
.infomation p.info-time {
  color: #fff;
  font-weight: bolder;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 10px;
}
.infomation p.info-date {
  color: #fff;
  font-size: 16px;
  line-height: 1;
}
.navs {
  width: 1225px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-animation: 1.1s ease .3s 1 forwards showup;
  -moz-animation: 1.1s ease .3s 1 forwards showup;
  -o-animation: 1.1s ease .3s 1 forwards showup;
  animation: 1.1s ease .3s 1 forwards showup;
}
@-webkit-keyframes showup {
  0% {transform: scale(.95); opacity: 0}
  100% {transform: scale(1); opacity: 1}
}
@-moz-keyframes showup {
  0% {transform: scale(.95); opacity: 0}
  100% {transform: scale(1); opacity: 1}
}
@-o-keyframes showup {
  0% {transform: scale(.95); opacity: 0}
  100% {transform: scale(1); opacity: 1}
}
@keyframes showup {
  0% {transform: scale(.95); opacity: 0}
  100% {transform: scale(1); opacity: 1}
}
.nav-item {
  width: 225px;
  height: 160px;
  margin: 10px 10px;
  float: left;
  transition: .3s all ease
}
.nav-item:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 6px rgba(0,0,0,.3)
}
.nav-item.has-child:hover img {
  display: none;
}
.nav-item.has-child:hover .sub-nav {
  display: block;
}
.sub-nav {
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 22px 28px;
  background: url(../images/zjzhs-bg.png);
  list-style: none;
}
.sub-nav li a {
  display: block;
  box-sizing: border-box;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #dedede;
  padding-left: 55px;
  color: #4a93de;
  text-decoration: none;
  font-size: 18px;
}

.sub-nav li:last-child a {
  border-bottom: none;
}
.sub-1 a {
  background: url(../images/hzb-icon.png) no-repeat 15px center
}
.sub-2 a {
  background: url(../images/dwfx-icon.png) no-repeat 15px center
}
.sub-3 a {
  background: url(../images/kshfx-icon.png) no-repeat 15px center
}
.sub-nav li:hover {
  background: rgba(0, 0, 0, .05)
}